# Archivos del Core de WordPress - provistos por el contenedor (IMPORTANTE)
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# Archivos del Sistema Docker
*.log
.env
/docker-entrypoint-initdb.d/*.sql  # Evita subir tu backup SQL

# Archivos que genera WordPress/Temas
*.scss
*.css.map
/wp-content/cache/
/wp-content/uploads/
/wp-content/blogs.php
